__pycache__/
checkpoints/flux_lora/
checkpoints/Wan-AI/Wan2.1-I2V-14B-480P/
checkpoints/Wan-AI/Wan2.1-I2V-14B-720P/
checkpoints/pano_lrm
checkpoints/VEnhancer
checkpoints/Wan-AI/wan_lora/
checkpoints/moge/model.pt
checkpoints/moge/model.pt.temp
checkpoints/hub
output/
asset/**/*.mp4
code/StableSR/ckpt
code/VideoSR/checkpoints
code/worldgen/output
code/DiffSynth-Studio/models/Wan-AI/Wan2.1-I2V-14B-480P/
code/DiffSynth-Studio/models/Wan-AI/Wan2.1-I2V-14B-720P/
code/DiffSynth-Studio/models/Wan-AI/Wan2.1-T2V-14B/
code/DiffSynth-Studio/lora_weights/
code/submodules/pytorch3d-main/
code/DiffSynth-Studio/build
code/VideoSR/scripts/weights
.git_backup/
model_card.md
*.DS_Store
checkpoints/
